.wrap {
	margin: 0 auto 70px;
	width: 900px;
}

#header {
	height:100px;
}
#logo {
	margin: auto;
	position: absolute;
}

#top_menu {
	float: right;
}

#top_menu li {
	display: inline;
	font-size: 0.8em;
}

.search {
	text-align: center;
	width: 100%;
}

#search {
	text-align: center;
	margin: auto;
	margin-bottom: 10px;
}

.searchShop {
	text-align: center;
	width: 100%;
}

#searchShop {
	text-align: center;
	margin: auto;
	margin-bottom: 10px;
}

#keyword {
	border: 2px solid #bbb;
	height: 30px;
	line-height: 30px;
	width: 300px;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover, a:focus {
	color: #bbb;
}

#menu {
	top: 500px;
	border-top: 2px solid #bbb;
	border-bottom: 2px solid #bbb;
	text-align: center;
	display: flex;
}

#menu ul {
	width: 100%;
	padding: 0 20px;
}

#menu ul li {
	display: inline;
	margin: 50px;
}

#body {
	margin-top: 15px;
}

#banner {
	margin: auto;
	text-align: center;
	width: 900px;
	height: 300px;
	background-color: #eee;
}

#week, #month {
	margin-left: 20px;
	margin-top: 50px;
}

#weeklyBest {
	margin: auto;
	margin-top: 15px;
	text-align: center;
	width: 900px;
	height: 300px;
	background-color: #eee;
}

#monthlyBest {
	margin: auto;
	margin-top: 15px;
	text-align: center;
	width: 900px;
	height: 300px;
	background-color: #eee;
}

td {
	text-align: center;
}

td.info {
	text-align: left;
}

.container {
	margin: auto;
	width: 840px;
	display: grid;
	grid-template-columns: repeat(3, 280px);
}
.figure {
	position: absolute;
	text-align: center;
	width: 200px;
	height: 200px;
	background-color: #D5D5D5;
	border-radius: 10px;
}
.recipeContainer {
	margin: auto;
	width: 840px;
	display: grid;
	grid-template-columns: repeat(3, 280px);
}
.recipeFigure {
	position: absolute;
	text-align: center;
	width: 200px;
	height: 215px;
	background-color: #D5D5D5;
	border-radius: 10px;
}

.figure:hover, .figure:focus {
	opacity: 0.5;
	color: white;
}

.img {
	border-radius: 10px;
}

.table {
	margin: 0 auto 10px;
	width: 680px;
	float: left;
	
}
table {
	border-spacing: 1px;
}

th {
	background-color: #bbb;
	height: 40px;
	display: table-cell;
	vertical-align: inherit;
	font-weight: bold;
}
td {
	background-color: white; 
	height: 20px;
}
.table-right {
	margin-left:20px;
	
	width: 200px;
	float: right;
	text-align: right;
	
}
.table-chk {
	width: 30px;
}

.table-select {
	width: 120px;
}

.table-info {
	width: 350px;
}

.table-total {
	
}
.cartprice {
	float:left;
	margin-left:30px;
}
.recipeFigure:hover, .recipeFigure:focus {
   opacity: 0.5;
   color: white;
}

#myMenu {
	display: flex;
	
}

#myMenu, #like, #myRecipe, #myComment {
	border-bottom: 2px solid #bbb;
}

#myMenu .myMenu {
	text-align:center;
	margin:10px;
	
}

#info img, p{
	display: inline;
}

#pointTable {
		width:100%;
}