
#myMenu, #like, #myRecipe {
	padding-left:15px;
	padding-bottom:40px;
	border-bottom: 2px solid #bbb;
}
#myComment{
	padding-left:10px;
}

#myMenu button, #like button, #myRecipe button, #myComment button{
	margin-top:10px;
}

#myComment button{
	margin-bottom:100px;
}

#myMenu{
	margin-top: 30px;
}

#myMenu div{
	display: inline;
}

table, th, td{
	border : 1px solid;
	border-collapse : collapse;
}
th, td{
	text-align : center;
	padding : 5px 10px;
}

/* #delAccount{
	position : absolute;
	bottom: -70%;
	right: 17%;
} */

#margin{
	height:100px;
}